$Primario: #393332;
$Secundario: #F2F2F2;

.HomeText{
    color: $Secundario;
}

.NavBar{
    background-color: #0D0D0D;
}

.LinkText{
    color: $Secundario;
}

.MenuBrand{
    color: $Secundario;
    font-weight:bold;
}

#basic-nav-dropdown{
    background-color: white;
}
